<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <style>

    .container{
      display: grid;
      grid-template-columns: repeat(18,1fr);
    width: 100%;
     max-width: 100vw;
      gap: 5px;
    }
  .element{
     width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s ease-in;
    }

     .element:hover{
     border-radius: 10%;
 box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

       .element:active{
     border-radius: 0%;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .empty-div{

           width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .symbol{
      display: block;
    }
    .leyend, .leyend-Title{
      display: flex;
      justify-content: center;
      align-items:center;
      width: 100%;
      gap: 10px;
    }
  .leyend-Title{
    font-size: 50PX;
  }
    .Metal{
  background-color: rgb(218, 218, 39);
 }
 .NoMetal{
  background-color: rgb(28, 187, 28);
 }
  .Alcalino{
  background-color: rgb(173, 98, 173);
 }
 .Alcalinotérreo{
  background-color: rgb(136, 54, 136);
 }
 .MetalDeTransición{
  background-color:  rgb(221, 168, 69);
 }
 .Lantánido{
  background-color:  rgb(172, 128, 46);
 }
 .Actínido{
  background-color: rgb(90, 56, 90);
 }
  .Metaloide{
  background-color: rgb(162, 231, 162);
 }
  .Halógeno{
  background-color: rgb(108, 183, 245);
 }
  .GasNoble{
  background-color: rgb(63, 158, 236);
 }
 .empty-div{
  display: block;
 }
.element9{
  margin-top: 50px;
}
.element10{
  margin-bottom: 50px;
}
  </style>

   <div class="container">
   
   {{#each elements as |row| }}
    {{#each row}}
    {{#if (isNotNull this)}}
    <div class=" element element{{@../index}} {{this.type}}" >
    <h1 class="symbol">{{this.symbol}}</h1>
   </div>
   {{/if}}
   {{#if (compare this)}}
  <div class="element element{{@../index}} empty-div" >
 
   </div>
   {{/if}}
   {{/each}}
    {{/each}}
 

</div>

<div class="leyend-Title">
  <h2>LEYENDA</h2> 
  </div>
  
<div class="leyend">
  <div class="Alcalino"><h2>Alcalino</h2></div>
<div class="Alcalinotérreo"><h2>Alcalinotérreo</h2></div>
<div class="MetalDeTransición"><h2>Metal De Transición</h2></div>
<div class="Lantánido"><h2>Lantánido</h2></div>
<div class="Actínido"><h2>Actínido</h2></div>
<div class="Metal"><h2>Otros Metal</h2></div>
<div class="Metaloide"><h2>Metaloide</h2></div>
<div class="NoMetal"><h2>Otros No Metal</h2></div>
<div class="Halógeno"><h2>Halógeno</h2></div>
<div class="GasNoble"><h2>Gas Noble</h2></div>
</div>

</body>
</html>