<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {{#each elements as |element|}}
     <h1>The random num is {{element}}</h1>
     {{/each}}
</body>
</html>